@model LibraryManager.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2 style="color: coral">@Model.Name</h2>
<h4>Author: @Model.Author</h4>
<h4>Description</h4>
<h4>@Model.Description</h4>
@Html.ActionLink("Reserve this book", "Reserve", "Library", new { id = Model.BookId }, new { @class = "btn btn-primary btn-large" })
<h4>@Html.ActionLink("View reservation history", "ReservationHistory", new { id = Model.BookId })</h4>


